﻿@page
@model AboutSiteModel
@{
    ViewData["Title"] = "About site";
}

<div class="text-left">
    <h2>About site:</h2>
    <hr/>
    <p>This is a business card site. This site is written with C# (ASP.NET) using Razor Pages</p>
    <p>Site License: <a href="https://gitlab.com/KirMozor/my-business-card-site/-/raw/main/LICENSE">GNU GPL V3.0</a></p>
    <p><a href="https://gitlab.com/KirMozor/my-business-card-site">Source code</a></p>
    <br/>
</div>