﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">KirMozor site</h1>
</div>

<div class="text-left">
    <h2>My Project:</h2>
    <ul>
        <li><a href="https://gitlab.com/KirMozor/Yamux">Yamux</a></li>
        <li><a href="https://gitlab.com/YandexMusicApi">YandexMusicApi</a></li>
    </ul>
</div>